* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Otomanopee One;
}

header {
    padding: 60px;
    text-align: center;
    background-color: #1abc9c;
    color: #fff;
}

nav {
    display: flex;
    background-color: #333;
    height: 50px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 100%;
}

nav a{
    color: #fff;
    padding: 16px 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    color: #000;
    background-color: #fff;
}

nav label {

}

nav label, .checkbox-menu {
    display: none;
}

li i {
  color: #fff; 
}

.row {
    display: flex;
/*    flex-wrap: wrap;*/
}

.row aside {
    flex: 0 1 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

.row main {
    flex: 0 1 70%;
    background-color: #ddd4d4;
    padding: 20px;
}

.fake-img img {
    width: 100%;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: #1abc9c;
}


@media screen and (max-width: 768px) {
    .row, nav, ul {
        flex-direction: column;
    }

    nav ul {
        display: none;
        user-select: none;
        padding: 0;
    }

    nav ul li {
        width: 100%;
        background-color: #b7b0b0;
    }

    nav ul a {
        display: flex;
        justify-content: center;
        color: #000;
    }

    nav label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    label .toggle {
        color: #fff;
        font-size: 30px;
    }

    .checkbox-menu:checked ~ ul {
        display: flex;
        z-index: 1;
    }
}
